#things to ignore:
logs
local
saves
crash-reports

patchouli_data.json
options.txt
usercache.json
usernamecache.json

#kube.js things to ignore:
kubejs/exported
kubejs/config

kubejs/README.txt

#defaultconfigs things to ignore:
defaultconfigs/ftbultimine

defaultconfigs/ftbessentials-server.snbt

#configs to ignore because unmodified: 
config/iceandfire
config/jei
config/voicechat

config/astralsorcery-client.toml
config/betterdungeons-forge-1_16.toml
config/bloodmagic-client.toml
config/bloodmagic-common.toml
config/botania-client.toml
config/botania-common.toml
config/ccl.cfg
config/citadel-common.toml
config/constructionwand-client.toml
config/create-client.toml
config/create-common.toml
config/curios-client.toml
config/EnderStorage.cfg
config/fastbench.cfg
config/fastsuite.cfg
config/ferritecore-mixin.toml
config/flywheel-client.toml
config/fml.toml
config/forge-client.toml
config/forge-common.toml
config/ftbultimine.snbt
config/jei-client.toml
config/moreoverlays.toml
config/MouseTweaks.cfg
config/patchouli-client.toml
config/sidebar_buttons.json
config/storagedrawers-client.toml
config/storagedrawers-common.toml
config/theoneprobe-client.toml
config/topaddons-client.toml
config/topaddons-common.toml
config/voicechat-client.toml
